body, html, app-layout {
    margin: 0;
    display: flex;
    flex: 1;
    width: 100%;
    flex-direction: column;
}


mat-sidenav-container.mat-drawer-container {
    background: #3b2d98;
    color: white !important;
    width: 140px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: end;
    margin-top: 0px;
}

mat-sidenav {
    background: #ffffff4f;
    width: 100%;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
}

mat-sidenav {
    background: blue;
}

mat-sidenav-container {
    /* background: #0808b0 !important; */
}

.app-wrapper {
    flex: 1;
    display: flex;
    /* border: 2px solid red; */
}

aside {
    display: flex;
    flex-direction: column;
    /* border: 2px solid blue; */
    width: 110px;
}

a.side-link {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #eee;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

app-config-view {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
}

.config-view.view {
    display: flex;
    flex-direction: column;
    /* border: 2px solid red; */
    width: 100%;
    flex: 1;
}

* {box-sizing: border-box;}

textarea {
    flex: 1;
}

app-dynamic-section  {
    display: flex;
    border: 1px solid #e3e3e3;
    /* box-shadow: 0px 0px 6px #44444478; */
    padding: 3px 10px 2px 9px;
    border-radius: 5px;
    margin-bottom: 40px;
    background: #eee3;
}

.dyn-form {
    box-shadow: 0 0 10px #6667;
    padding: 20px;
}

.dyn-field {
    /* border: 1px solid; */
    flex: 1;
    padding: 5px;
    margin: 4px 0 4px 0;
    display: flex;
    justify-content: space-between;
}

.dyn-form-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.section-title {
    flex: 1;
}

.dyn-form-section form {
    flex: 3;
}

input.ng-dirty.ng-invalid.ng-touched {}

.dyn-field.invalid {
    background: #ff000021;
    color: #ab6e6e;
    border-radius: 5px;
}

.dyn-field input {
    border: .5px solid #eee;
    height: 40px;
    padding: 5px 5px 5px 5px;
    color: #5f5f5f;
    font-family: arial;
    border-radius: 5px;
}

.dyn-field label {
    display: flex;
    align-items: center;
}

.dyn-form-section {
    border: 1px solid transparent;
}

app-dynamic-section.invalid {
    border: .5px solid #72313963;
}

span.red-asterisk {
    text-transform: revert;
}

sup.red-asterisk {
    color: red;
    position: relative;
    bottom: 3px;
    font-size: 10px;
    margin-left: 2px;
}