<div class="dyn-form-section" [class.invalid]="formGroup.pristine && formGroup.invalid">
  <div class="section-title">{{section.title}}</div>
  <ng-container *ngIf="formGroup">
    <form
      [formGroup]="formGroup">
      <ng-container
        *ngFor="let field of section.fields"
      >
        <ng-container
          [ngSwitch]="field.type"
        >
          <div
            *ngSwitchCase="FieldTypes.Text"
            class="dyn-field"
            [class.invalid]="formGroup.controls[field.propertyName].invalid && !formGroup.controls[field.propertyName].pristine"
          >
            <label>{{field.label}} <sup class="red-asterisk" *ngIf="field.required">*</sup> </label>
            <input type="text"
                   [placeholder]="field.placeholder"
                   [formControlName]="field.propertyName"
                   [class.invalid]="formGroup.controls[field.propertyName].invalid && !formGroup.controls[field.propertyName].pristine"
            >
          </div>
          <div
            *ngSwitchCase="FieldTypes.Number"
            class="dyn-field"
            [class.invalid]="formGroup.controls[field.propertyName].invalid && !formGroup.controls[field.propertyName].pristine"
          >
            <label>{{field.label}}</label>

            <input
              type="number"
              [placeholder]="field.placeholder"
              [formControlName]="field.propertyName">
          </div>
          <div
            *ngSwitchCase="FieldTypes.Color"
            class="dyn-field"
            [class.invalid]="formGroup.controls[field.propertyName].invalid && !formGroup.controls[field.propertyName].pristine"
          >
            <label>{{field.label}}</label>

            <input
              type="color"
              [placeholder]="field.placeholder"
              [formControlName]="field.propertyName"
              [class.invalid]="formGroup.controls[field.propertyName].invalid && !formGroup.controls[field.propertyName].pristine"

            >
          </div>
        </ng-container>
      </ng-container>
    </form>
  </ng-container>
</div>
